html {
	font-family: "inter";
}
body {
	background-color: #f4f4f9;
}
.login_form {
	width: 30%;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 10px;
	padding-bottom: 36px;
}
.login_form .container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.login_form .container h2 {
	font-size: 40px;
	opacity: 0.8;
	text-align: center;
	padding-top: 30px;
}
hr {
	opacity: 0.5;
}
form {
	text-align: center;
}
.ip {
	margin-top: 30px;
	text-align: left;
}
.it {
	color: black;
	font-size: 15px;
	font-weight: 500;
	opacity: 0.8;
}
input {
	width: 90%;
	height: 38px;
	border: 0;
	outline: 0;
	background-color: #f4f4f9;
	margin-top: 10px;
	padding: 5px 20px;
	border-radius: 10px;
	font-size: 14px;
}
input::placeholder {
	opacity: 0.6;
}
button {
	background-color: #1baf76;
	padding: 12px 30px;
	margin-top: 50px;
	border: none;
	font-size: 16px;
	color: white;
	font-weight: 600;
	opacity: 0.9;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 5px;
	margin-bottom: 20px;
}
button:hover {
	background-color: #0c8657;
}
.forgot {
	position: absolute;
	right: 0;
	margin-top: 20px;
	font-size: 14px;
	text-decoration: none;
	color: rgb(172, 172, 172);
}
.forgot:hover {
	color: #1baf76;
}
.register {
	font-size: 14px;
	font-weight: 500;
	color: rgb(116, 116, 116);
}
.register a {
	text-decoration: none;
	color: #1baf76;
}
.register a:hover {
	color: #0e8054;
}
.fpas {
	margin-top: 30px;
}
