<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/style_login.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<title>Document</title>
	</head>

	<body>
		<div class="login_form">
			<div class="container">
				<h2>Forget Password</h2>
				<hr />
				<form action="#" method="">
					<div class="ip">
						<span class="register"
							>Please enter your email. You will receive a link to create new
							password via Email</span
						>
						<br />

						<input
							class="fpas"
							name="email"
							type="text"
							placeholder="Enter your email address"
						/>
					</div>

					<button type="submit">Get a new password</button>
				</form>
			</div>
		</div>
	</body>
</html>
