<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/style_login.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<title>Document</title>
	</head>

	<body>
		<div class="login_form">
			<div class="container">
				<h2>Reset Password</h2>
				<hr />
				<form action="#" method="">
					<span class="register">Create a new password</span> <br />

					<div class="ip">
						<label class="it" for="password">Password</label>
						<input name="password" type="password" />
					</div>
					<div class="ip">
						<label class="it" for="password">Confirm Password</label>
						<input name="cpassword" type="password" />
					</div>

					<button type="submit">Reset password</button>
				</form>
			</div>
		</div>
	</body>
</html>
